// mobile: @media (max-width: 767px)
// desktop: @media (min-width 768px)

.navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fffbf6;
  box-shadow: 0 10px 10px -10px rgba(33, 35, 38, 0.1), 0 2px 1px -1px #c8a95c;
}

.navigation > div.navigation-items {
  flex: 1 0 auto;
}

.navigation > div#navigation-title {
  flex: 4 0 auto;
}

.navigation-items {
  display: flex;
  padding-bottom: 0.4rem;
  justify-content: space-evenly;
  font-size: larger;
  align-items: center;
}

.nav-item,
.language-switcher > a {
  text-decoration: none;
  font-family: Spectral;
  color: #000000;
  position: relative;
  flex: 0 0 auto;
}

.language-switcher > a {
  padding: 0 0 0 4px;
}

#nav-title-yellow-bold-text {
  color: #c8a95c;
  font-weight: bolder;
}

.nav-item,
.nav-item:after,
.nav-item:before {
  transition: all 0.5s;
}

.nav-item:after {
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #c8a95c;
  height: 1px;
}

.nav-item:hover:after {
  width: 100%;
}

#navigation-title {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.4rem;
  cursor: pointer;
  font-size: larger;
}

#current {
  color: #c8a95c;
  font-weight: bolder;

  &:after {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #c8a95c;
    height: 1px;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 96px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .navigation-logo {
    height: 100%;
    width: inherit;
    object-fit: contain;
    flex-grow: 0;
  }

  .navigation-logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 320px) {
  // iPhone 5/SE
  .navigation-items {
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: smaller;
  }

  .navigation-items {
    display: flex;
    width: 88vw;
    order: 3;
  }

  .nav-item {
    padding: 0rem 0.4rem;
  }

  .navigation-logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88vw;
  }

  .navigation-logo {
    height: 88%;
    width: 20%;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0.4rem;
    order: 1;
    flex: 0;
  }

  #navigation-title {
    order: 2;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0.4rem;
  }

  #language-switcher {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

#selected-language {
  color: #c8a95c;
  font-weight: bold;
}
