#map {
  height: 300px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.mapboxgl-canvas-container {
  width: 100vw;
}

.mapboxgl-canvas {
  width: 100% !important;
}
