---
---

#map {
  height: 300px;
  width: 100%;
  margin: auto;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.mapboxgl-canvas-container {
  width: 100vw;
}

.mapboxgl-canvas {
  width: 100% !important;
}

@media (max-width: 767px) {
  #map {
    width: 88vw;
  }
}

