// mobile: @media (max-width: 767px)
// desktop: @media (min-width 768px)

.navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.navigation-items {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #B0B4B6;
  padding-bottom: 0.4rem;
}

.navigation-items a {
  text-decoration: none;
  font-family: Work Sans;
  color: #000000;

  &:hover {
    color: #C8A95C;
  }
}

#current {
  color: #C8A95C;
}

@media (min-width: 768px) {

  .navigation-items a {
    padding-left: 1.6rem;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 0.8rem;
  }

  .navigation-logo {
    height: 96%;
    width: inherit;
    padding-right: 0.4rem;
  }

  .navigation-logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 767px) {

  .navigation-items {
    display: flex;
    justify-content: space-between;
    width: 88vw;
  }

  .navigation-items a {
    padding: 0rem 0.4rem;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navigation-logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88vw;
  }

  .navigation-logo {
    height: 88%;
    width: 20%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-right: 0.8rem;
  }
}




