---
---
.ueber-mich-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 767px) {
  .ueber-mich-flex-container {
  flex-direction: column;
  justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .ueber-mich-flex-container > .page-text {
    margin-left: 2rem;

    p {
      margin-block-start: 0;
    }
  }
}

